* {
    box-sizing: border-box;
}

body {
    background: #afafaf;
}

.background_box {
    width: 1500px;
    height: auto;
    margin: 5% auto;
    /*background-image: linear-gradient(0deg, rgba(40, 26, 200, 1) 0%, rgba(253, 116, 155, 1) 100%);*/
    background-image: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.line_1 {
    width: 1500px;
    height: 300px;
    background-image: url(/image/img_top.png);
    background-repeat: no-repeat;
    background-position-y: -160px;
}

.content {
    background-color: #ffffff;
    width: 1158px;
    height: 367px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0px 50px 100px 0px #00000040;
}


.line_2 {
    width: 1500px;
    height: 250px;
    background-image: url(/image/img_bot.png);
    background-repeat: no-repeat;
    background-position-y: 30px;
}